@use 'mixin';

.about{
  display: flex;
  justify-content: flex;
  align-items: flex-start;
  background-image: radial-gradient(circle 897px at 9% 80.3%, color(light-navy-color) 0%, color(navy-color) 100.2%);
  height: 90%;
    
  &__bio-image {
    width: 50%;
    @include mixin.flexCenter(column);
  }

 &__bio {
  width: 90%;
  line-height: 1.2;
  margin-top: 80px;
  font-size: 17px;

.underline {
    display: inline-block;
    position: relative;
    color: color(red-color);

  &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: color(red-color);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }
  
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

  .flex {
      display: flex;
      flex-wrap:wrap;

  .personalDetails {

      i {
        font-size: 40px;
        margin-left: 5px;
      }
    }
  }

  
   .text-secondary {
     color: color(white-color);
     text-transform: uppercase;
   }

   p {
     margin-top: 35px;
     text-align: justify;
     text-align-last: center;
   }
 }

  .jobs{
    width: 50%;
    font-size: 17px;

      &__job{
          line-height: 1.2;
          
          h2, h3{
            margin-top: 10px;
          }

          h4{
            
            color: color(red-color);
          }
      }

      .text-secondary{
          color: color(white-color);
      }
      
  }
}
