@use 'mixin';

.home{    
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2)), url(/dist/images/model.webp);
    background-attachment: fixed;
    background-position: center;
    
    &__name{
        font-size: 65px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        
        &--last{
            color: color(red-color);
            font-weight: 500;
            animation: left 2s ease-in;
        }

        @include mixin.keyframes(left) {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }
    }

    .btn__contact {
        width: 140px;
        margin: auto;
        height: 50px;
        background-image: linear-gradient(to right, color(navy-color) 0%, color(red-color) 51%, color(navy-color) 100%);
        margin-top: 30px;
        @include mixin.flexCenter(row);
        text-transform: uppercase;
        border-radius: 50px;
        transition: 0.5s;
        background-size: 200% auto;
        animation: btn-opacity 2.5s ease-in;

        @include mixin.keyframes(btn-opacity) {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }

        &--first {
            color: color(white-color);
        }

        &:hover {
            background-position: right center;
            text-decoration: none;
        }
    }
    
    .web{
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        background: linear-gradient(20deg, color(red-color), color(white-color), color(red-color));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        position: relative;
        animation: shine 5s linear infinite;
            
        @include mixin.keyframes(shine) {
            0% {
                background-position-x: -300%;
            }
                
            100% {
                background-position-x: 300%;
            }
        }
    }
}
