@use 'mixin';

.projects {
    background-image: radial-gradient(circle 897px at 9% 80.3%, color(red-light) 0%, color(red-color) 100.2%);
    height: 90%;

    &__bio-image {
        height: 20vh !important;
        @include mixin.flexCenter(column);

        h2 {
            font-size: 27px;
        }

        .text-secondary {
            color: color(white-color);
            text-transform: uppercase;
        }
    }

    &__items {
        width: 900px;
        height: 470px;
        margin:auto;
        margin-top: 50px;
        @include mixin.gridCenter(5px, 130px);
    }

    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            border-radius: 5px;
        }

        /* hover effect*/
        &::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 0;
            height: 99%;
            width: 100%;
            background: color(red-color);
            opacity: 0;
            border-radius: 5px;
            @include mixin.transition;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: 0.5;
                
            }

            /* hover effect*/
            .projects__btn {
                opacity: 1;
            }
        }
    }

   

    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        color: color(white-color);
        @include mixin.transition;

        &:hover {
            color: color(navy-color);
        }
    }
}