@use 'mixin';

$breakpoints: (
    "mobile-small": 360px,
    "mobile": 480px,
    "tablet": 768px,
    "laptop": 1024px
);

@mixin mobile-small {
    @media (max-width: map-get($breakpoints, "mobile-small")) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: map-get($breakpoints, "mobile")) {
        @content;
    }
}

@mixin min-tablet {
    @media (min-width: map-get($breakpoints, "tablet")) {
        @content;
    }
}

@mixin max-tablet {
    @media (max-width: map-get($breakpoints, "tablet")) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: map-get($breakpoints, "laptop")) {
        @content;
    }
}

@include laptop {
    .nav {
       width: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 145%;

        &__bio-image {
            order: 1;
            width: 100%;
        }

        .jobs {
            width: 90%;
            order: 2;
            align-self: center;
        }
    }

    .projects {
        height: 80%;

        .projects__items{
            padding-bottom: 350px;
        }

        &__items {
            width: 730px;
            height: 500px;
            @include mixin.gridCenter(5px, 165px);
        }
    }

    .contact {
        height: 85%;
    }
}

@include min-tablet {
    .menu-btn {
        visibility: hidden;
        
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;
            

            &__item {
                display: inline;
                padding-right: 24px;
                
            }
        }
    }
}

@include max-tablet {
    .menu-nav {
        &__link {
            font-size: 17px !important;
        }
    }

    .home {
        height: 70%;

        .web {
            font-size: 15px;
        }
    }

    .about {
        height: 140%;

        .about__bio {
            font-size: 15px;

            h2 {
                font-size: 18px;
            }
        }

        .jobs {
            p {
                font-size: 15px;
            }

            h2 {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }
        }
    }

    .projects {
        padding-bottom: 0;
        height: 105%;

        &__items {
            width: 460px;
            height: 390px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-column-gap: 5px;
            grid-row-gap: 155px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .contact {
        height: 85%;

        h2 {
            font-size: 18px;
        }

        .social-icons {
            padding-bottom: 100px;
        }

        form {
            input[type=submit] {
                font-size: 14px !important;
            }

            ::placeholder {
                font-size: 15px;
            }
        }
    }

    .scroll-to-top {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
    }
}

@include mobile {
    .home {
        height: 70%;
        background-position: center;

        &__name {
            font-size: 40px;
        }

        .btn__contact {
            width: 100px !important;
            height: 40px !important;

            &--first {
                font-size: 14px;
            }
        }
    }

    .about {
        height: 145%;
    }

    .projects {
        height: 190%;

        &__items {
            width: 260px;
            height: 190px;
            grid-template-columns: repeat(1, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 175px;
        }
    }
}

@include mobile-small() {
    .about {
        height: 155%;

        .about__bio {
            font-size: 14px;

            h2 {
                font-size: 16px;
            }
        }

        .jobs {
            p {
                font-size: 14px;
            }

            h2 {
                font-size: 16px;
            }

            h3 {
                font-size: 15px;
            }
        }
    }
}