@mixin transition {
    transition: all 0.5s ease-in-out;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
} 

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin gridCenter($cgap, $rgap) {
    display: grid;
    place-items: center;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap: $cgap;
    grid-row-gap: $rgap;
}